@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
    margin: 0;
    background-color: black;
    overflow-y: hidden;
    /*font-family: Source Code Pro;*/
    font-family: 'Dela Gothic One', cursive;
    font-weight: regular 400;  
    color: #f7f8f9;
    line-height: 10px;
}

h1 {
    font-family: 'Dela Gothic One', cursive;
    font-weight: 400; 
    font-size: 84px; 
    
}


#info {
    position: absolute; 
    top: 45%;
    width: 100vw;
    vertical-align: center; 
    padding: 0px;
    text-align: center; 
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1; /* TODO Solve this in HTML */
}


#container {
    position: absolute;
    top: 0px;
    width: 100%;
    bottom: 0px;
}

